@using System.Security.Claims
@{
    var userRoles = new List<Claim>();
    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;
        if (claimIdentity != null)
        {
            userRoles = claimIdentity.FindAll(ClaimTypes.Role).ToList();
        }
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OF</title>
    <link href="~/Content/CSS/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/CssExterne.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <nav class="main-menu">
        <div class="logo_menu"></div>
        <div class="bar-blue-2px"></div>
        <div class="scrollbar" id="style-1">
            @if (Request.IsAuthenticated)
            {

                var role = userRoles.First();
                if (role.Value == "Admin")
                {
                    <ul>
                        <li>
                            <a id="parent" href="@Url.Action("HomeAdmin","Admin")">
                                <i class="fa fa-home fa-lg" id="icon-home"></i>
                                <span class="nav-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("ListeResponsable","Admin")">
                                <i class="fa fa-home fa-lg" id=""></i>
                                <span class="nav-text">Liste des Responsables</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("AjoutResponsable","Admin")">
                                <i class="fa fa-home fa-lg" id=""></i>
                                <span class="nav-text">Ajouter Responsable</span>
                            </a>
                        </li>
                        <li class="darkerlishadow">
                            <a id="parent" href="@Url.Action("Logout", "Authentification")">
                                <i class="fa fa-clock-o fa-lg" id="icon-logout"></i>
                                <span class="nav-text">Deconnexion</span>
                            </a>
                        </li>
                    </ul>
                }
                else if (role.Value == "Responsable")
                {
                    <ul>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-home"></i>
                                <span class="nav-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-settings"></i>
                                <span class="nav-text">Organisme de Formation</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-AC"></i>
                                <span class="nav-text">Formation AC</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-AS"></i>
                                <span class="nav-text">Formation AS</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-CFEB"></i>
                                <span class="nav-text">CFEB</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-CQP"></i>
                                <span class="nav-text">CQP</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-BP"></i>
                                <span class="nav-text">BPJEPS</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-DE"></i>
                                <span class="nav-text">DEJEPS</span>
                            </a>
                        </li>
                        <li>
                            <a id="parent" href="@Url.Action("HomeResponsable","Responsable")">
                                <i class="fa fa-home fa-lg" id="icon-DE"></i>
                                <span class="nav-text">DESJEPS</span>
                            </a>
                        </li>
                        <li class="darkerlishadow">
                            <a id="parent" href="@Url.Action("Logout", "Authentification")">
                                <i class="fa fa-clock-o fa-lg" id="icon-logout"></i>
                                <span class="nav-text">Deconnexion</span>
                            </a>
                        </li>
                    </ul>

                }
            }
            else
            {
                <ul>
                    <li>
                        <a id="parent" href="@Url.Action("Index","Home")">
                            <i class="fa fa-home fa-lg" id="icon-home"></i>
                            <span class="nav-text">Accueil</span>
                        </a>
                    </li>
                    <li class="darkerlishadow">
                        <a id="parent" href="@Url.Action("Login", "Authentification")">
                            <i class="fa fa-clock-o fa-lg" id="icon-login"></i>
                            <span class="nav-text">Connexion</span>
                        </a>
                    </li>
                </ul>
            }

        </div>
    </nav>
    <div style="margin-left:55px">
        @RenderBody()
    </div>
</body>
</html>
