@using OrganismeFormation.Models;
@model OrganismeFormation.Models.ResultatUc
@{
    ViewBag.Title = "Saisie des notes";
}

@Html.HiddenFor(x => x.DescriptifUCId)
@Html.HiddenFor(x => x.ResultatsId)
@Html.HiddenFor(x => x.Id)

<div class="form-group">
    <div class="col-md-10">
    @Model.DescriptifUC.Libelle : @Html.EditorFor(model => model.Resultat, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @max = Model.DescriptifUC.ResultatMax, @Value = Model.Resultat != null ? Model.Resultat : 0 } }) / @Model.DescriptifUC.ResultatMax
    @Html.ValidationMessageFor(model => model.Resultat, "", new { @class = "text-danger" })
    </div>
</div>