@model OrganismeFormation.ViewModels.AddResponsableViewModel

@{
    ViewBag.Title = "Add Responsable";
}


<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Affichage et ajout d'un responsable</div>
    </div>

    <table class="table" id="mano-bootstrap">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Email
            </th>
            <th>
                Numéro de Licence
            </th>
            <th>
                Telephone
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.organisme.Responsable)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Licence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
               
            </tr>
        }

    </table>



    @using (Html.BeginForm("AddResponsable", "Organismes"))
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal" id="mano-bootstrap">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.organismeId)
            <p> Ajouter un responsable </p>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.responsable.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.responsable.Nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.responsable.Nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.responsable.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.responsable.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.responsable.Prenom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.responsable.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.responsable.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.responsable.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.responsable.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.responsable.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.responsable.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.responsable.Licence, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.responsable.Licence, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.responsable.Licence, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.responsable.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.responsable.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.responsable.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group-align">
                <div class="submit" id="form-moitie" style="margin-right:2.5px">
                    <input type="submit" value="Créer" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <div class="submit" id="form-moitie" style="margin-left:2.5px">
                    <a href='@Url.Action("Index", "Organismes")' id="button-red">Retour</a>
                    <div class="ease"></div>
                </div>
            </div>

        </div>
    }

    @{Html.RenderPartial("_Footer");}
</div>
