@model OrganismeFormation.Models.Organismes

@{
    ViewBag.Title = "Create2";
}



<div class="content">
    <div class="title-content">
        <div class="title-content-main">Créer un organisme de formation</div>
        <div class="title-content-second">Etape 2/2</div>
    </div>


    @using (Html.BeginForm("Create2", "Organismes"))
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal" id="mano-bootstrap">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
                @Html.HiddenFor(model => model.AnneeDeclaration, new { Value = Model.AnneeDeclaration })
                @Html.HiddenFor(model => model.Libelle, new { Value = Model.Libelle })
                @Html.HiddenFor(model => model.NumeroDeclaration, new { Value = Model.NumeroDeclaration })
                @Html.HiddenFor(model => model.LieuxId, new { Value = Model.Lieux.Id })
                @Html.HiddenFor(model => model.Lieux.Adresse, new { Value = Model.Lieux.Adresse })
                @Html.HiddenFor(model => model.Lieux.CodePostal, new { Value = Model.Lieux.CodePostal })
                @Html.HiddenFor(model => model.Lieux.Ville, new { Value = Model.Lieux.Ville })
                @Html.HiddenFor(model => model.Lieux.Telephone, new { Value = Model.Lieux.Telephone })
                @Html.HiddenFor(model => model.PresidentId, new { Value = Model.PresidentOrganisme.Id })
                @Html.HiddenFor(model => model.CoordinateurId, new { Value = Model.Personnel.Id })    
                @Html.HiddenFor(model => model.DirecteurId, new { Value = Model.Personnel1.Id })

                <p> Responsable(s) de l'organisme, ajoutez-en un ou plusieurs </p>

                <div id="items">

                   

                </div>

                <a href="#" id="addItem">Ajouter un responsable</a>    
          
                 <hr />

                <p> Président de l'organisme </p>
               
                <div class="form-group">
                    @Html.LabelFor(model => model.PresidentOrganisme.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PresidentOrganisme.Nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PresidentOrganisme.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PresidentOrganisme.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PresidentOrganisme.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PresidentOrganisme.Prenom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PresidentOrganisme.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PresidentOrganisme.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PresidentOrganisme.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PresidentOrganisme.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PresidentOrganisme.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PresidentOrganisme.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>

          

            <hr />
            <p> Coordinateur de l'organisme </p>
            

                <div class="form-group">
                    @Html.LabelFor(model => model.Personnel.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Personnel.Nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Personnel.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Personnel.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Personnel.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Personnel.Prenom, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personnel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Personnel.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personnel.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personnel.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Personnel.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personnel.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>


            <hr />
            <p> Directeur de l'organisme </p>


            <div class="form-group">
                @Html.LabelFor(model => model.Personnel1.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Personnel1.Nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personnel1.Nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personnel1.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Personnel1.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personnel1.Prenom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personnel1.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Personnel1.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personnel1.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personnel1.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Personnel1.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Personnel1.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>




                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Créer" class="btn btn-default" />
                    </div>
                </div>*@


            <div class="form-group-align">
                <div class="submit" id="form-moitie" style="margin-right:2.5px">
                    <input type="submit" value="Créer" id="button-blue" />
                    <div class="ease"></div>
                </div>
                <div class="submit" id="form-moitie" style="margin-left:2.5px">
                    <a href='@Url.Action("Index", "Organismes")' id="button-red">Retour</a>
                    <div class="ease"></div>
                </div>
            </div>

            </div>
    }

    @{Html.RenderPartial("_Footer");}
</div>

<script>
    $(function () {
        $("#addItem").click(function () {
            $.ajax({
                url: '@Url.Action("AddResponsable")',
                cache: false,
                success: function (html) { $("#items").append(html); }
            });
        });
    });

    $(function () {
        $("a.deleteRow").on("click", function () {
            alert("A");
        });
    });
</script>