@model OrganismeFormation.Models.Organismes

@{
    ViewBag.Title = "Details";
}


<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Détail de l'organisme</div>
    </div>
    <div id="mano-bootstrap">
        <dl class="dl-horizontal">
            <dt>
                Nom de l'OF
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>

            <dt>
                Ligue d'appartenance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ligues.Libelle)
            </dd>

        </dl>

        <hr />
        
        <dl class="dl-horizontal">

            <dt>
                Numéro de déclaration
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumeroDeclaration)
            </dd>

            <dt>
                Année de déclaration
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnneeDeclaration)
            </dd>


        </dl>

        <hr />
        <p>Siège de l'organisme </p>
        <dl class="dl-horizontal">



            <dt>
                @Html.DisplayNameFor(model => model.Lieux.Adresse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lieux.Adresse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lieux.CodePostal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lieux.CodePostal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lieux.Ville)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lieux.Ville)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lieux.Telephone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lieux.Telephone)
            </dd>

        </dl>

        <hr />
        <p>Président de l'organisme </p>
        <dl class="dl-horizontal">
            
            <dt>
                Nom
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PresidentOrganisme.Nom)
            </dd>

            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PresidentOrganisme.Prenom)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PresidentOrganisme.Email)
            </dd>
            <dt>
                Téléphone
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PresidentOrganisme.Telephone)
            </dd>

        </dl>

        <hr />
        <p>Coordinateur de l'organisme </p>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personnel.Nom)
            </dd>

            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Personnel.Prenom)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personnel.Email)
            </dd>
            <dt>
                Téléphone
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personnel.Telephone)
            </dd>

        </dl>

        <hr />
        <p>Directeur de l'organisme </p>
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personnel1.Nom)
            </dd>

            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Personnel1.Prenom)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personnel1.Email)
            </dd>


            <dt>
                Téléphone
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personnel1.Telephone)
            </dd>





        </dl>

        <hr />

        <div class="form-group-align">
            <div class="submit" id="form-moitie" style="margin-left:2.5px">
                <a href='@Url.Action("Index", "Organismes")' id="button-red">Retour</a>
                <div class="ease"></div>
            </div>
            <div class="submit" id="form-moitie" style="margin-right:2.5px">
                <a href='@Url.Action("Edit", "Organismes", new { id = Model.Id })' id="button-blue" style="text-align:center">Modifier</a>
                <div class="ease"></div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_Footer");}
</div>










