@model OrganismeFormation.ViewModels.ListeFormationEtatViewModel
@{
    ViewBag.Title = "EtatFormationAC";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Formations AS pour l'organisme : @Model.organisme.Libelle</div>
    </div>
    <p>
        <div style="width: 170px;text-align:center;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("AddSimpleFormation", "Formations",new { id = 2 })' id="button-blue">Nouvelle Formation AS</a>
                <div class="ease"></div>
            </div>
        </div>
        <div style="width: 130px;text-align:center;margin-left:10px;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("ListeFormations", "AccesResponsable", new { id = Model.organisme.Id })' id="button-red">Retour</a>
                <div class="ease"></div>
            </div>
        </div>
    </p>
    <div class="form-horizontal" id="mano-bootstrap">
        <h3> Formations AS en cours :</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.enCours.First().DateDebut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.enCours.First().DateFin)
                </th>
                <th>
                    Nombre de candidats
                </th>
            </tr>
            @foreach (var item in Model.enCours)
            {
                <tr class="tr_clickable">
                    <td>
                        @String.Format("{0:d/MM/yyyy}", @item.DateDebut)
                    </td>
                    <td>
                        @String.Format("{0:d/MM/yyyy}", @item.DateFin)
                    </td>
                    <td>
                        @item.CandidatsFormations.Count()
                    </td>
                </tr>
            }
        </table>
        <h3> Formations AS terminée :</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.enCours.First().DateDebut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.enCours.First().DateFin)
                </th>
                <th>
                    Nombre de candidats
                </th>
            </tr>
            @foreach (var item in Model.termine)
            {
                <tr class="tr_clickable">
                    <td>
                        @String.Format("{0:d/MM/yyyy}", @item.DateDebut)
                    </td>
                    <td>
                        @String.Format("{0:d/MM/yyyy}", @item.DateFin)
                    </td>
                    <td>
                        @item.CandidatsFormations.Count()
                    </td>
                </tr>
            }
        </table>
    </div>
    @{Html.RenderPartial("_Footer");}
</div>
