@model IEnumerable<OrganismeFormation.Models.Organismes>

@{
    ViewBag.Title = "Organismes";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Accueil Responsable</div>
    </div>
    <div class="content_organisme_card">
        @foreach(var item in Model)
        {
            <div class="organisme_card" onclick="location.href='@Url.Action("ListeFormations", "AccesResponsable", new { id = item.Id })'">
                <div class="organisme_card_subtitle">
                    Organisme de formation 
                </div>
                <div class="organisme_card_title">
                    @item.Libelle
                </div>
                <div class="organisme_card_lieux">
                    <div style="text-align:center">Situé :</div>
                    <br />
                    @item.Lieux.Adresse<br />
                    @item.Lieux.CodePostal&nbsp;@item.Lieux.Ville<br />
                    @item.Lieux.Email<br />
                    @item.Lieux.Telephone

                </div>
                <div class="organisme_card_formations">
                    Nombre de formations en cours :<br />
                    @item.Formations.Count(a => a.FormationEnded == false)
                </div>
            </div>
        }
    </div>
    @{Html.RenderPartial("_Footer");}
</div>


