@model OrganismeFormation.ViewModels.SearchCandidatViewModel
@{
    ViewBag.Title = "Nouveau Candidat";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Recherche d'un candidat</div>

    </div>
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal" id="mano-bootstrap">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <p> Pour rechercher un candidat veuillez renseigner son numéro de licence   : </p>
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.NumeroLicence, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumeroLicence, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumeroLicence, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group-align">
                <div class="submit" id="form-moitie" style="margin-right:2.5px">
                    <input type="submit" value="Rechercher" id="button-blue" />
                    <div class="ease"></div>
                </div>
            </div>
        </div>
    }
</div>

