@using OrganismeFormation.Models;
@model OrganismeFormation.Models.Formations
@{
    ViewBag.Title = "Detail Formation";
}
<div class="content">
    <div class="title-content">
        <div class="title-content-main">Diplôme visé</div>
        <div class="title-content-second">@Model.TypedeFormations.Libelle</div>
    </div>
    <div id="mano-bootstrap">

    <div style="text-align: center;">
        <div style="width: 100%;text-align:center;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("EditSimpleFormation", "Formations",new { id = Model.Id })' id="button-blue" style="padding-top: 2px;padding-bottom: 2px;">Editer</a>
                <div class="ease" style="height:auto"></div>
            </div>
        </div>
    </div>


        <div style="width: 48%; margin-left: 2%; text-align:center;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("EndSimpleFormation", "Formations", new { id = Model.Id })' id="button-red">Terminer</a>
                <div class="ease"></div>
            </div>
        </div>


        <div style="width: 48%; text-align:center;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("ExportCSV", "Formations", new { id = Model.Id })' id="button-blue">Export CSV</a>
                <div class="ease"></div>
            </div>
        </div>

        <div class="title_blue" style="border-bottom-width: 2px;">
            <div style="display:inline-block">Informations</div>
        </div>
        <table class="table">
            <tr>
                <th>Ligue porteuse de la formation</th>
                <th>Date l'imite d'inscription</th>
                <th>Date des sélections</th>
                <th>Début de formation</th>
                <th>Fin de formation</th>
                <th>Coordinateur pédagogique</th>
            </tr>
            <tr>
                <td>
                    @if (Model.LiguePorteuse)
                    {
                        @:Oui
                    }
                else
                {
                    @:Non
                        }

            </td>
            <td>
                @Model.DateLimteInscription.Value.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Model.DateTestSelection.Value.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Model.DateDebut.Value.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Model.DateFin.Value.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Model.Personnel.Prenom @Model.Personnel.Nom <br />
                @Model.Personnel.Email @Model.Personnel.Telephone
            </td>
        </tr>
    </table>
    @{ int[] habIds = { 4, 5, 6, 7 }; }
    @if (habIds.ToList().Contains(int.Parse(Model.TypedeFormationsId.ToString())))
            {
        <div class="title_blue" style="border-bottom-width: 2px;">
            <div style="display:inline-block">Habilitation</div>
        </div>
            <table class="table">
                <tr>
                    <th>Durée de la formation</th>
                    <th>OF Porteur</th>
                    <th>Numéro de déclaration de l'OF</th>
                    <th>Numéro d'habilitation de session</th>
                    <th>Numéro d'habilitation de la formation</th>
                </tr>
                <tr>
                    <td>
                        @{ var duree = (Model.DateFin.Value.Month - Model.DateDebut.Value.Month) + 12 * (Model.DateFin.Value.Year - Model.DateDebut.Value.Year);}
                        @duree  mois
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Organismes.Libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Organismes.NumeroDeclaration)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Habilitations.NumeroSession)
                    </td>
                    <td>
                        @Model.Personnel.Prenom @Model.Habilitations.NumeroHabilitation
                    </td>
                </tr>
            </table>
                            }
    <div class="title_blue" style="border-bottom-width: 2px;">
        <div style="display:inline-block">Détail des UC</div>
    </div>
    @if (Model.DescriptifUC.Count > 0)
            {
        <table class="table">
            <tr>
                <th>Libellé</th>
                <th>Note maximale</th>
            </tr>
            @foreach (DescriptifUC uc in Model.DescriptifUC)
                {
                <tr>
                    <td>@Html.DisplayFor(duc => uc.Libelle)</td>
                    <td>@Html.DisplayFor(duc => uc.ResultatMax)</td>
                </tr>
            }
        </table>
    }
    else
    {
        @:Aucun UC saisi.
        }
    <div style="text-align: center;">
        <div style="width: 170px;text-align:center;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("AddSimpleUC", "Formations",new { id = Model.Id })' id="button-blue" style="padding-top: 2px;padding-bottom: 2px;">Ajouter un UC</a>
                <div class="ease" style="height:auto"></div>
            </div>
        </div>
    </div>
    <div class="title_blue" style="border-bottom-width: 2px;">
        <div style="display:inline-block">Candidats</div>
    </div>
    @if (Model.CandidatsFormations.Count > 0)
            {
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro de licence</th>
                <th>Grade</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th></th>
            </tr>
            @foreach (CandidatsFormations uc in Model.CandidatsFormations)
                {
                <tr>
                    <td>@Html.DisplayFor(duc => uc.Nom)</td>
                    <td>@Html.DisplayFor(duc => uc.Prenom)</td>
                    <td>@Html.DisplayFor(duc => uc.NumeroLicence)</td>
                    <td>@Html.DisplayFor(duc => uc.Grade)</td>
                    <td>@Html.DisplayFor(duc => uc.Telephone)</td>
                    <td>@Html.DisplayFor(duc => uc.Email)</td>
                    <td><a href='@Url.Action("Index", "CandidatsFormations",new { id = uc.Id })'>Afficher</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        @:Aucun Candidat saisi.
        }
    <div style="text-align: center;">
        <div style="width: 170px;text-align:center;display:inline-block">
            <div class="submit">
                <a href='@Url.Action("NewCandidatFirstStep", "AccesResponsable",new { id = Model.Id })' id="button-blue" style="padding-top: 2px;padding-bottom: 2px;">Ajouter un candidat</a>
                <div class="ease" style="height:auto"></div>
            </div>
        </div>
    </div>
    <div class="title_blue" style="border-bottom-width: 2px;">
        <div style="display:inline-block">Suivi de formations</div>
    </div>
    @if (Model.CandidatsFormations.Count == 0 || Model.DescriptifUC.Count == 0)
    {
        @:Veuillez rensigner des candidats et des UC
        }
    else
    {
        <table class="table">
            <tr>
                <th> Candidat </th>
                <th> Formation validée</th>
                @foreach(DescriptifUC uc in Model.DescriptifUC )
                {
                    <th>
                        @uc.Libelle
                    </th>
                }
            </tr>
            @foreach ( CandidatsFormations c in Model.CandidatsFormations)
            {
                <tr  class="tr_clickable" onclick="location.href='@Url.Action("SaisieNotesCandidatUC", "Formations", new { id = c.Id })'">
                    <td>
                        @c.Nom &nbsp; @c.Prenom
                    </td>
                    <td>
                        @if (c.Resultats.Count > 0 && c.Resultats.FirstOrDefault().FormationValidee ==  null)
                        {
                            @: Non renseigné.
                        }else if (c.Resultats.Count > 0 &&  c.Resultats.FirstOrDefault().FormationValidee == true)
                        {
                            @:Oui
                        }
                        else
                        {
                            @:Non
                        }
                    </td>
                    @foreach(DescriptifUC uc in Model.DescriptifUC)
                    {
                        <td>
                            @if (c.Resultats.Count > 0 && c.Resultats.FirstOrDefault().ResultatUc.Where(r => r.DescriptifUCId == uc.Id).Count() == 1)
                            {
                                @c.Resultats.FirstOrDefault().ResultatUc.Where(r => r.DescriptifUCId == uc.Id).FirstOrDefault().Resultat @:/ @uc.ResultatMax
                            }
                            else
                            {
                                @:Non Renseigné.
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    }
        <div class="form-group-align">
            <div class="submit" id="form-moitie" style="margin-left:2.5px">
                @if (Model.TypedeFormationsId == 1)
                {
                    <a href='@Url.Action("EtatFormationAC", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
                else if (Model.TypedeFormationsId == 2)
                {
                    <a href='@Url.Action("EtatFormationAS", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
                else if (Model.TypedeFormationsId == 3)
                {
                    <a href='@Url.Action("EtatFormationCFEB", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
                else if (Model.TypedeFormationsId == 4)
                {
                    <a href='@Url.Action("EtatFormationCQP", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
                else if (Model.TypedeFormationsId == 5)
                {
                    <a href='@Url.Action("EtatFormationBPJEPS", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
                else if (Model.TypedeFormationsId == 6)
                {
                    <a href='@Url.Action("EtatFormationDEJEPS", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
                else
                {
                    <a href='@Url.Action("EtatFormationDESJEPS", "AccesResponsable", new { id = Model.OrganismeId})' id="button-red">Retour</a>
                    <div class="ease"></div>
                }
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_Footer");}
</div>

@*Popup pour l'ajout
    <a data-popup-open="popup-@item.Id" href="#">Supprimer</a>
    <div class="popup" data-popup="popup-@item.Id">
        <div class="popup-inner">
            <h2>Attention suppresion !</h2>
            <p>
                Êtes vous sur de vouloir retirer le responsable @item.Prenom @item.Nom de l'organisme @Model.organisme.Libelle ?
            </p>
            <div class="form-group-align">
                <div class="submit" id="form-moitie" style="margin-right:2.5px">
                    <a href='@Url.Action("DeleteResponsable","Organismes",new { @id = item.Id })' style="padding-left:10px;" id="button-blue">Supprimer</a>
                    <div class="ease"></div>
                </div>
                <div class="submit" id="form-moitie" style="margin-left:2.5px">
                    <a data-popup-close="popup-@item.Id" href="#" id="button-red">Retour</a>
                    <div class="ease"></div>
                </div>
            </div>
            <a class="popup-close" data-popup-close="popup-@item.Id" href="#">x</a>
        </div>
    </div>*@
