@model OrganismeFormation.Models.CandidatsFormations
@using OrganismeFormation.Models
@{
    ViewBag.Title = "Affichage Candidat";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Affichage Candidat</div>
        <div class="title-content-second">@Model.Nom&nbsp;@Model.Prenom</div>
    </div>
    <div id="mano-bootstrap">
        <div style="text-align: center;">
            <div style="width: 48%; margin-left: 2%; text-align:center;display:inline-block">
                <div class="submit">
                    <a href='@Url.Action("EditCandidat", "CandidatsFormations",new { id = Model.Id })' id="button-blue">Editer</a>
                    <div class="ease"></div>
                </div>
            </div>


            <div style="width: 48%; text-align:center;display:inline-block">
                <div class="submit">
                    <a href='@Url.Action("EditCandidat", "CandidatsFormations",new { id = Model.Id })' id="button-blue">Saisir Résultats</a>
                    <div class="ease"></div>
                </div>
            </div>
        </div>
        <div class="title_blue" style="border-bottom-width: 2px;">
            <div style="display:inline-block">Informations</div>
        </div>
        <table class="table">
            <tr>
                <th>Nom Prénom</th>
                <th>Numéro de licence</th>
                <th>Grade</th>
                <th>Tél</th>
                <th>Email</th>
                <th>Type Financement</th>
                <th>Detail Financement</th>
            </tr>
            <tr>
                <td>@Model.Nom&nbsp;@Model.Prenom</td>
                <td>@Model.NumeroLicence</td>
                <td>@Model.Grade</td>
                <td>@Model.Telephone</td>
                <td>@Model.Email</td>
                <td>@Model.TypedeFinancements.Libelle</td>
                <td>@Model.DetailsFinancement</td>
            </tr>
        </table>
        <div class="title_blue" style="border-bottom-width: 2px;">
            <div style="display:inline-block">Structure et tuteur</div>
        </div>
        <table class="table">
            <tr>
                <th>Strucutre d'accueil</th>
                @if (Model.Tuteurs != null)
                {
                    <th>Nom Prénom</th>
                    <th>Numéro de licence</th>
                        <th>Mail</th>
                }
            </tr>
            <tr>
                <td>@Model.StructureAccueil</td>
                @if (Model.Tuteurs != null)
                {
                    <td>@Model.Tuteurs.Nom&nbsp;@Model.Tuteurs.Prenom</td>
                    <td>@Model.Tuteurs.NumeroLicence</td>
                        <td>@Model.Tuteurs.Email</td>
                }
            </tr>
        </table>
        <div class="title_blue" style="border-bottom-width: 2px;">
            <div style="display:inline-block">Suivi de formation</div>
        </div>
        <p>Résultats généraux :</p>
        <table class="table">
            <tr>
                <th>Formation validée</th>
                <th>Numéro diplôme</th>
                <th> EPEF </th>
                <th> EPMSP </th>
                <th>Formation terminée</th>
                <th>Abandon</th>
            </tr>
            <tr>
                <td>
                    @if (Model.Resultats.Count > 0 && Model.Resultats.FirstOrDefault().FormationValidee != null)
                    {
                        if (Model.Resultats.FirstOrDefault().FormationValidee == true)
                        {
                            @:Oui
                        }
                        else
                        {
                            @:Non
                        }

                    }
                    else
                    {
                        @:Non renseigné.
                    }
                </td>
                <td>
                    @if (Model.Resultats.FirstOrDefault().NumeroDiplome != null)
                    {
                        @Model.Resultats.FirstOrDefault().NumeroDiplome
                    }
                    else
                    {
                        @:Non renseigné.
                    }
                </td>
                <td>
                    @if (Model.Resultats.FirstOrDefault().EPEF != null)
                    {
                        @Model.Resultats.FirstOrDefault().EPEF

                    }
                    else
                    {
                        @:Non renseigné.
                    }
                </td>
                <td>
                    @if (Model.Resultats.FirstOrDefault().EPMSP != null)
                    {
                        @Model.Resultats.FirstOrDefault().EPMSP
                    }
                    else
                    {
                        @:Non renseigné.
                    }
                </td>
                <td>
                    @if (Model.Resultats.FirstOrDefault().FormationTerminee != null)
                    {
                        if (Model.Resultats.FirstOrDefault().FormationTerminee == true)
                        {
                            @:Oui
                        }
                        else
                        {
                            @:Non
                        }

                    }
                    else
                    {
                        @:Non renseigné.
                    }
                </td>
                <td>
                    @if (Model.Resultats.FirstOrDefault().Abandon != null)
                    {
                        if (Model.Resultats.FirstOrDefault().Abandon == true)
                        {
                            @:Oui
                        }
                        else
                        {
                            @:Non
                        }

                    }
                    else
                    {
                        @:Non renseigné.
                    }
                </td>
            </tr>
        </table>
        <p>Résultats UC :</p>
        @if (Model.Formations.DescriptifUC.Count != 0 && Model.Resultats.FirstOrDefault().ResultatUc.Count() !=0)
        {
            <table class="table">
                <tr>
                    @foreach (DescriptifUC uc in Model.Formations.DescriptifUC)
                    {
                        <th>@uc.Libelle</th>
                    }
                </tr>
                <tr>
                    @foreach(DescriptifUC uc in Model.Formations.DescriptifUC)
                    {
                        <td>@Model.Resultats.FirstOrDefault().ResultatUc.Where(r => r.DescriptifUCId == uc.Id).FirstOrDefault()&nbsp;/&nbsp;@uc.ResultatMax</td>
                    }
                </tr>
            </table>
        }
        else
        {
            @:Aucun UC pour ce candidat
        }

        <div class="form-group-align">
            <div class="submit" id="form-moitie" style="margin-left:2.5px">
                <a href='@Url.Action("ShowASAC", "Formations", new { id = Model.FormationId})' id="button-blue" style="text-align:center">Retour</a>
                <div class="ease"></div>
            </div>
            <div class="submit" id="form-moitie" style="margin-left:2.5px">
                <a data-popup-open="popup-34545245245" id="button-red" href="#">Supprimer</a>
                <div class="ease"></div>
                <div class="popup" data-popup="popup-34545245245">
                    <div class="popup-inner">
                        <h2>Attention suppresion !</h2>
                        <p>
                            Êtes vous sur de vouloir supprimer le candidat ?
                        </p>
                        <div class="form-group-align">
                            <div class="submit" id="form-moitie" style="margin-right:2.5px">
                                <a href='@Url.Action("DeleteCandidat","CandidatsFormations",new { @id = Model.Id })' style="padding-left:10px;" id="button-red">Supprimer</a>
                                <div class="ease"></div>
                            </div>
                            <div class="submit" id="form-moitie" style="margin-left:2.5px">
                                <a data-popup-close="popup-34545245245" href="#" id="button-blue" style="text-align:center">Retour</a>
                                <div class="ease"></div>
                            </div>
                        </div>
                        <a class="popup-close" data-popup-close="popup-34545245245" href="#">x</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        //----- OPEN
        $('[data-popup-open]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

            e.preventDefault();
        });

        //----- CLOSE
        $('[data-popup-close]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

            e.preventDefault();
        });
    });
</script>